
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/image1.jpg');
  min-height:100%;
}

.pimg2{
  background-image:url('../img/image2.jpg');
  min-height:400px;
}

.pimg3{
  background-image:url('../img/image3.jpg');
  min-height:400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
  border-radius: 20px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}
/*Navbar CSS*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10%;
  
}

.sidenav a {
  padding: 8% 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f5760d;
  display: block;
  transition: 0.2s;

}

.sidenav a:hover {
  color: #f70202;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#icon{
position: fixed;
z-index: 1;
z-index: 1000%;
margin-top: 2%;
margin-left: 2%;
color: red;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}
#canvas{
  padding: 5%;
  margin: 10% 0  0 40%;
  background: none;
}
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

* {
  padding: 0;
  margin: 0;
}

.Open-signboard {
  width: 400px;
  height: 300px;
  margin: 75px auto;
  position: relative;
  transform: scale(1) rotatez(7deg) translate(-17px, 1px);
  animation: 1s init, 0.7s aa 1s, 3s ab 1.7s infinite;
}

@keyframes aa {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1) rotatez(7deg) translate(-17px, 1px);
  }
}

@keyframes ab {
  0% {
    transform: rotatez(7deg) translate(-17px, 1px);
  }
  50% {
    transform: rotatez(-7deg) translate(17px, 1px);
  }
  100% {
    transform: rotatez(7deg) translate(-17px, 1px);
  }
}

.sign {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  background: #e00909;
  width: 100%;
  height: 200px;
  line-height: 200px;
  position: absolute;
  bottom: 0;
  border-radius: 15px / 20px;
  text-shadow: 0 2px #700a03;
}

.strings {
  width: 150px;
  height: 150px;
  border: solid 5px #ad5700;
  border-bottom: none;
  border-right: none;
  position: absolute;
  top: 38px;
  left: 122px;
  transform: rotatez(45deg);
}

.pin {
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 25px;
}

.pin.pin1 {
  background: #9f9f9f;
  top: 0;
  left: 187px;
}

.pin.pin2, .pin.pin3 {
  background: #9c0a00;
}

.pin.pin2 {
  top: 110px;
  left: 80px;
}

.pin.pin3 {
  top: 110px;
  right: 80px;
}

@keyframes init {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}



.footer{
  background: orange;
  text-align: center;
  padding: 2%;
}

